@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Classe utilitária para esconder a barra de rolagem, 
  mas manter a funcionalidade de scroll (usado nos filtros de categoria)
*/

/* Para Chrome, Safari e Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Para IE, Edge e Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}